In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Hospital Data.csv", header = [0], index_col = [0])

In [3]:
df.head(5)

            Age     Diagnosis  Length of Stay      Department
Patient ID
1            37   Common Cold               1  Common Disease
2            85     Arthritis               1         Old Age
3            70  Hypertension               8      Bariatrics
4            66     Arthritis               2         Old Age
5            16       Cholera               1      Pediatrics

In [4]:
df.isnull().sum()

Age               0
Diagnosis         7
Length of Stay    0
Department        0
dtype: int64

In [5]:
df_clean = df.dropna()

In [6]:
df_clean.isnull().sum()

Age               0
Diagnosis         0
Length of Stay    0
Department        0
dtype: int64

In [7]:
df_clean.duplicated().sum()

1

In [8]:
df_clean.describe()

             Age  Length of Stay
count  19.000000       19.000000
mean   52.894737        6.894737
std    26.845018        9.585259
min    16.000000        1.000000
25%    24.500000        1.000000
50%    57.000000        3.000000
75%    77.000000        7.500000
max    85.000000       34.000000

In [11]:
df_clean.median(numeric_only = True)

Age               57.0
Length of Stay     3.0
dtype: float64

In [12]:
df_clean.mode(numeric_only = True)

   Age  Length of Stay
0   85               1

In [13]:
df_clean.var(numeric_only = True)

Age               720.654971
Length of Stay     91.877193
dtype: float64